@model baitaplonnhom09.Models.Account

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountID" />
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountPosition" class="control-label"></label>
                <input asp-for="AccountPosition" class="form-control" />
                <span asp-validation-for="AccountPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountEarn" class="control-label"></label>
                <input asp-for="AccountEarn" class="form-control" />
                <span asp-validation-for="AccountEarn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountPhoneNumber" class="control-label"></label>
                <input asp-for="AccountPhoneNumber" class="form-control" />
                <span asp-validation-for="AccountPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountAddress" class="control-label"></label>
                <input asp-for="AccountAddress" class="form-control" />
                <span asp-validation-for="AccountAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountBirth" class="control-label"></label>
                <input asp-for="AccountBirth" class="form-control" type="date" id="AccountBirth" name="AccountBirth" />
                <span asp-validation-for="AccountBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountSex" class="control-label"></label>
                <select id="AccountSex" name="AccountSex" class="form-control">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
                <span asp-validation-for="AccountSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountBank" class="control-label"></label>
                <input asp-for="AccountBank" class="form-control" />
                <span asp-validation-for="AccountBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountStart" class="control-label"></label>
                <input asp-for="AccountStart" class="form-control" type="date" id="AccountStart" name="AccountStart" />
                <span asp-validation-for="AccountStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountEnd" class="control-label"></label>
                <input asp-for="AccountEnd" class="form-control" />
                <span asp-validation-for="AccountEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
